
.banner {
  position: relative;
  min-height: calc(100vh - 87px);
  background: url("../../public/images/banner.png") top left no-repeat;
  background-size: 100% 100%;
  padding-top: 87px;
  z-index: 3;

  .banner-inner {
    min-height: calc(100vh - 87px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .caption {
    margin-top: 20px;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #5C3971;
    margin-bottom: 38px;
  }

  .sub-caption {
    font-weight: 300;
    font-size: 28px;
    line-height: 186.68%;
    color: rgba(17, 5, 52, 0.8);
    max-width: 790px;
    margin: 0 0 35px;
  }

  .social-icons {
    height: 260px;
    position: absolute;
    right: 0;
    top: 12%;

    a:hover {
      text-decoration: none;
    }

    .circle-big {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 69px;
      height: 69px;
      border-radius: 50%;
      background: linear-gradient(90deg, rgba(156, 132, 192, 0.2) 1.35%, rgba(102, 246, 255, 0.2) 100%);
      margin: 25px 0;
    }

    .circle-small {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background: linear-gradient(90deg, #7E5895 0%, #6B4184 100%);
      border: 1px solid #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-facebook {
        font-size: 22px;
      }

      .icon-jam-instagram {
        font-size: 30px;
      }

      .icon-youtube {
        font-size: 24px;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .inputs {
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      padding: 11px 16px 11px 49px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background: #6B4184;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        border-radius: 30px;
        border: 1px solid #6B4184;
        margin-left: 101px;
        min-width: 249px;
        width: 100%;

        .btn {
          font-weight: 600;
          font-size: 17px;
          line-height: 23px;
          text-align: center;
          padding: 13px 44px;
          color: #FFFFFF;
        }

        &:hover {
          transition: .2s;
          background: #fff;
          .btn {
            color: #6B4184;
          }
        }
      }
    }

    .mobile {
      background: #6B4184;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
      border-radius: 30px;
      border: 0;
      margin-left: 101px;
      max-width: 249px;
      width: 100%;
      display: none;

      .btn {
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
        padding: 14px 45px;
        color: #FFFFFF;
      }
    }

    p {
      font-weight: 800;
      font-size: 18px;
      line-height: 32px;
      color: #5C3971;
      width: 430px;
      margin: 0 46px 0 0;
      position: relative;

      .icon-arrow-long {
        position: absolute;
        width: 78px;
        top: 20px;
        left: -100px;
      }
    }

    input::-webkit-input-placeholder {
      color: #6B4184;
    }
    input::-ms-input-placeholder {
      color: #6B4184;
    }
    input::-ms-input-placeholder {
      color: #6B4184;
    }
    input::placeholder {
      color: #6B4184;
    }

    input {
      padding: 10px 15px 12px 15px;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      text-transform: uppercase;
      color: #6B4184;
      background: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #44668b;
      min-width: 306px;
      width: 100%;
      outline: none !important;
    }
  }

  ////media

  @media (max-width: 1329px) {
    form .icon-arrow-long {
      display: none;
    }
  }

  @media (max-width: 915px) {
    .social-icons {
      display: none;
    }
  }

  @media (max-width: 991px) {

    .caption {
      font-size: 40px;
      line-height: 48px;
    }

    .sub-caption {
      line-height: 136.68%;
    }

    form {
      flex-direction: column;
      align-items: baseline;

      p {
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }

  @media (max-width: 755px) {

    form {
      input {
        min-width: 130px;
        width: 100%;
      }
    }
  }

  @media (max-width: 665px) {
    form {
      align-items: center;

      p {
        text-align: center;
      }

      .inputs {
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.35);
        border-radius: 50px;
        padding: 0 28px 14px 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        input {
          padding: 10px 15px 12px 15px;
          font-weight: bold;
          font-size: 15px;
          line-height: 20px;
          text-transform: uppercase;
          color: #6B4184;
          background: transparent;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #44668b;
          min-width: 264px;
          width: 100%;
          outline: none !important;
        }
      }

      .inputs button {
        display: none;
      }

      .mobile {
        display: block;
        margin: auto;
      }
    }
  }


  @media (max-width: 460px) {
    background: linear-gradient(137.14deg, rgba(255, 255, 255, 0.9) 11.02%, rgba(255, 255, 255, 0) 69.02%), url("../../public/images/banner-mob.png") top left no-repeat;
    background-size: 100% 100%;

    .caption {
      font-size: 28px;
      line-height: 151.18%;
    }

    .sub-caption {
      font-weight: normal;
      font-size: 17px;
      line-height: 186.68%;
      color: rgba(17, 5, 52, 0.6);
    }

    form {
      p {
        font-size: 13px;
        line-height: 180.18%;
      }

      .mobile {
        margin: auto;
      }
    }
  }

  @media (max-width: 340px) {
    form {
      .inputs input {
        min-width: 198px;
      }
    }
  }

}
