
.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 26px;
  z-index: 5;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #7E5895 0%, #FFFFFF 90%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 10px 16px 10px 28px;
  }

  .logo {
    max-width: 144px;
    max-height: 36px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu li {
    margin-left: 69px;
  }

  .menu a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #6B4184;
  }

  .menu a:hover {
    text-decoration: none;
  }

  .button {
    background: #6B4184;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    outline: none !important;
    max-width: 178px;
    width: 100%;
    border: 1px solid #6B4184;

    .btn {
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      padding: 9px 29px;
      text-align: center;
      color: #FFFFFF;
      outline: none !important;
    }

    &:hover {
      transition: .2s;
      background: #fff;
      .btn {
        color: #6B4184;
      }
    }
  }
  .btn:visited, .btn:focus, .btn:active, .btn:hover, .btn:focus-within {
    outline: none !important;
    box-shadow: none;
  }
  .button:visited, .button:focus, .button:active, .button:hover, .button:focus-within {
    outline: none !important;
  }

  .dropdown-menu {
    left: -24px !important;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    display: none;
  }

  // c крестиком

  .toggle-menu {
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    display: none;

    span {
      position: absolute;
      background: #5C3971;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: 0;
      opacity: 1;
      &:before {
        position: absolute;
        background: #5C3971;
        width: 18px;
        height: 2px;
        bottom: 5px;
        content: "";
        display: block;
      }
      &:after{
        position: absolute;
        background: #5C3971;
        width: 18px;
        height: 2px;
        top: 5px;
        content: "";
        display: block;
      }
    }
  }

  .toggle-menu.menu-on {
    span {
      background-color: transparent;
      transition: all .3s ease-in-out;
      &:before {
        background: #5C3971;
        transform: rotate(-45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:after {
        background: #5C3971;
        transform: rotate(45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
    }

  }

  ///media

  @media (max-width: 915px) {

    .social {
      display: block;

      .social-icons {
        display: flex;
        justify-content: center;

        a:hover {
          text-decoration: none;
        }

        .circle-big {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background: linear-gradient(90deg, rgba(156, 132, 192, 0.2) 1.35%, rgba(102, 246, 255, 0.2) 100%);
          margin: 15px 10px 0 10px;
        }

        .circle-small {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: linear-gradient(90deg, #7E5895 0%, #6B4184 100%);
          border: 1px solid #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon-facebook {
            font-size: 16px;
          }

          .icon-jam-instagram {
            font-size: 24px;
          }

          .icon-youtube {
            font-size: 18px;
          }
        }
      }
    }

    .header__inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: inherit;
    }

    .main-nav {
      display: none;
      padding-top: 15px;
    }

    .menu li {
      margin-left: 0;
    }

    .main-nav.open {
      display: block;
    }

    .menu {
      display: block;
      text-align: center;
      padding-bottom: 15px;
    }

    .button {
      margin-top: 11px;
      margin-left: auto;
      margin-right: auto;
    }

    .toggle-menu {
      display: block;
    }
  }

  @media (max-width: 460px) {
    top: 5px;
    left: 5px;
    right: 5px;

    .container {
      padding: 0 !important;
    }

    .logo {
      max-width: 102px;
      max-height: 26px;
    }
  }

}
