//////////////////////////SPECIALIST BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.specialist {
  padding: 80px 0 0 0;
  position: relative;
  background-color: #fff;

  .title {
    font-weight: 700;
    font-family: $font_text;
    text-transform: uppercase;
    letter-spacing: -.02em;
    color: #000;
    font-size: 20px;
    margin-bottom: 0;
  }

  .holder {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image {
        max-width: 243px;
        max-height: 480px;
    }

    .fa-check-circle {
      font-size: 25px;
      color: #c4956a;
      margin-right: 10px;
    }

    li {
      font-family: $font_text;
      font-size: 18px;
      line-height: 1.6;
      font-weight: 400;
      letter-spacing: -.02em;
      color: rgba(0,0,0,.7);
      margin-bottom: 20px;
      padding: 20px 0;
      display: flex;
      align-items: center;
    }
  }

  .form-title {
    font-weight: 700;
    font-family: $font_text;
    text-transform: uppercase;
    letter-spacing: -.02em;
    color: #000;
    font-size: 20px;;
    margin-bottom: 105px;
  }

  form {
    margin: 0 auto;
    max-width: 530px;
    background: #282828;
    border-radius: 7px;
    padding: 42px 45px 50px;
    box-shadow: 20px 30px 30px rgba(0,0,0,.2);
    color: #FFFFFF;

    input {
      display: block;
      width: 100%;
      min-height: 42px;
      padding: 9px 0;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -.02em;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,.1);
      font-family: $font_text;
      font-style: normal;
      background: transparent;
      outline: none;
      color: #FFFFFF;
    }

    input[type="text"] {
      margin-bottom:24px;
    }

    input[type="tel"] {
      margin-bottom: 42px;
    }
    input:focus {
      outline: none;
    }

    input::-webkit-input-placeholder { color: #FFFFFF; }
    input::-ms-input-placeholder { color: #FFFFFF; }
    input::-ms-input-placeholder { color: #FFFFFF; }
    input::placeholder { color: #FFFFFF; }
  }

  button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #c4956a;
    font-family: $font_text;
    font-weight: 700;
    letter-spacing: -.02em;
    text-transform: uppercase;
    text-align: center;
    background-color: #c4956a;
    color: #FFFFFF;
    border-radius: 0;
    &:hover {
      background-color: transparent;
      color: #c4956a;
    }
  }

  ////media

  @media (max-width: 991px) {
    padding: 80px 0 80px 0;
    .title {
      margin-bottom: 40px;
    }

    .holder .image {
      max-width: 174px;
    }

    .holder {
      justify-content: space-around;
    }

    .form-title {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    form {
      padding: 40px 40px 40px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    .title {
      margin-bottom: 20px;
    }

    .form-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 576px) {
    .title, .form-title {
      font-size: 18px;
    }

    .holder li {
      margin-bottom: 0;
    }
  }


  @media (max-width: 576px) {
    .title {
      margin-bottom: 0;
    }
  }
}

//////////////////////////SPECIALIST END////////////////////////