
.why {
  background: #ffffff;
  background: url("../../public/images/bg-why.png") top left no-repeat;
  background-size: auto 100%;
  position: relative;
  margin-top: -70px;
  z-index: 2;
  padding: 126px 0 245px 0;

  .caption {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #5C3971;
    margin-bottom: 37px;
    margin-top: 47px;
  }

  p {
    font-size: 15px;
    line-height: 187.18%;
    color: #000000;
    margin: 0;
    max-width: 576px;
    width: 100%;
  }

  .first-text {
    margin-bottom: 35px;
  }

  .slider {
    max-width: 486px;
    max-height: 320px;
    margin-left: auto;
    position: relative;
  }

  .why-slider {
    outline: none !important;
  }

  .image {
    max-width: 304px;
    max-height: 370px;
    position: absolute;
    top: 88px;
    left: -140px;
    z-index: 1;

    .image-grad {
      width: 141px;
      height: 54px;
      position: absolute;
      left: 0;
      top: -53px;
    }
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(1.2);
    }
  }

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 1px;
  }

  .slick-prev.slick-arrow {
    right: 162px;
  }

  .slick-next {
    right: 100px;
  }

  .slick-prev, .slick-next {
    bottom: -124px;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    outline: none !important;
    border: 1px solid #6B4184;
    background: #6B4184;
    z-index: 1;
  }

  .slick-prev:active, .slick-next:active {
    color: #fff;
  }
  ///slick-prev slick-next end

  //slider dots begin

  .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 10px;
    border: 1px #6B4184 solid;
    border-radius: 50%;
  }

  .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px #6B4184 solid;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #6B4184;
    border-radius: 50%;
  }

  .slick-dots li button:before {
    content: "";
  }

  //slider dots end

  ////media

  @media (max-width: 1240px) {
    .image {
      left: -80px;

      .image-grad {
        display: none;
      }
    }
  }

  @media (max-width: 1155px) {
   p {
     max-width: 480px;
   }
  }

  @media (max-width: 1075px) {
    .image {
      left: -50px;
    }
    p {
      max-width: 445px;
    }
  }

  @media (max-width: 991px) {
    padding: 60px 0 200px 0;

    .holder {
      width: 626px;
      margin: auto auto 100px;
    }

    .image {
      left: -140px;
    }

    .caption {
      margin-top: 45px;
      text-align: center;
    }

    p {
      text-align: center;
      max-width: 100%;
      margin-bottom: 40px;
    }

    .first-text {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    .caption {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 24px;
    }
    p {
      margin-bottom: 20px;
    }
    .first-text {
      margin-bottom: 10px;
    }

  }

  @media (max-width: 660px) {
    .holder {
      width: 100%;
    }

    .slider {
      margin: auto;
    }

   .image {
     position: relative;
     top: 0;
     left: 0;
     margin: auto auto 20px;
   }

    .slick-prev.slick-arrow {
      right: 50%;
    }

    .slick-next {
      right: 38%;
    }

    .slick-prev, .slick-next {
      bottom: -100px;
    }
  }

  @media (max-width: 576px) {
   .why-slider {
     margin-bottom: 120px;
   }
  }

  @media (max-width: 500px) {
    .why-slider {
      margin-bottom: 85px;
    }
  }

}
